<!DOCTYPE html>
<html>
<head>
<title>Isoform Quantification</title>
<script type="text/javascript" src="{{ STATIC_URL }}d3.v2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}isoformQuantifyApp.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}renderSVG.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}mgi2ensembl.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/isoformQuantifyApp.css" />
</head>

<body>
<form name="geneSearchForm" id="geneSearchForm">
<label for="geneSearchBox">Gene</label>
<input type="text" name="geneSearchBox" value="" onkeypress="runScript(event, this.form)" /><br />
<label for="fileSelection">RNA-Seq file</label>

   <select id="fileSelection" name="fileSelection" onchange="calculateIsoforms(this.form)" multiple="multiple">
     <option value="cno.bam">cno_cno_2_GES12_37369_CGATGT_L008_R1_ALL.bam</option>
     <option value="f1.bam">F1.bam</option>
     <option value="spcar3.bam">Spcar3.bam</option>
     <option value="spcar4.bam">Spcar4.bam</option>
     <option value="wt186.bam">Prdm9_WT_186.bam</option>
     <option value="wt444.bam">Prdm9_WT_444.bam</option>
     <option value="ko188.bam">Prdm9_KO_188.bam</option>
     <option value="ko418.bam">Prdm9_KO_418.bam</option>
   </select><br />

<input class="runElement" TYPE="button" NAME="calculateButton" Value="Calculate" onClick="calculateIsoforms(this.form)"/><br />

<ul>
</ul>

</form>

<div class='gallery' id='chart'> </div>

</body>
</html>
