<!DOCTYPE html>
<html>
<head>
<title>testGeneLookUp</title>
<script type="text/javascript" src="{{ STATIC_URL }}d3.v2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}testGeneLookUp.js"></script>
<style type="text/css">

label{
float: left;
width: 120px;
font-weight: bold;
}

input{
width: 180px;
margin-bottom: 5px;
}

select{
width: 185px;
margin-bottom: 5px;
}

.runElement{
margin-top: 5px;
font: normal 50px arial, sans-serif;
height: 100px;
width: 305px;
}

br{
clear: left;
}

</style>

</head>
<body>

<form name="geneSearchForm">
<label for="geneSearchBox">Gene</label>
<input type="text" name="geneSearchBox" value="" /><br />

<label for="fileSelection">RNA-Seq file</label>

   <select name="fileSelection">
     <option value="cno">cno_cno_2_GES12_37369_CGATGT_L008_R1_ALL.bam</option>
   </select><br />

<input class="runElement" TYPE="button" NAME="calculateButton" Value="Calculate" onClick="calculateIsoforms(this.form)"/><br />

</form>

</body>
</html>
