option.skyblue {background-color:#3BB9FF}
option.yellow {background-color:#FFFF00}
option.hotpink {background-color:#F660AB}
option.silver {background-color:#C0C0C0}
option.springgreen {background-color:#6AFB92}
option.sienna {background-color:#F87431}
option.lavender {background-color:#E3E4FA}
option.firebrick1 {background-color:#F62817}

rect.cno {stroke:#3BB9FF; stroke-width:10}
rect.f1 {stroke:#FFFF00; stroke-width:10}
rect.spcar3 {stroke:#F660AB; stroke-width:10}
rect.spcar4 {stroke:#C0C0C0; stroke-width:10}

rect.wt186 {stroke:#6AFB92; stroke-width:10}
rect.wt444 {stroke:#F87431; stroke-width:10}
rect.ko188 {stroke:#E3E4FA; stroke-width:10}
rect.ko418 {stroke:#F62817; stroke-width:10}

ul {
list-style-type: none;
padding: 0;
margin: 0;
font-size: 20px;
text-indent: 5px;
}

ul li {
background-image: url(http://alsimons.jax.org:8080/static/image/crossout.svg);
background-repeat: no-repeat;
-webkit-background-size: 25% 100%;
-o-background-size: 25% 100%;
-moz-background-size: 25% 100%;
background-size: 25% 100%;
}

label{
float: left;
width: 120px;
font-weight: bold;
}

input{
width: 180px;
margin-bottom: 5px;
}

select{
width: 185px;
margin-bottom: 5px;
}

.runElement{
margin-top: 5px;
font: normal 25px arial, sans-serif;
height: 50px;
width: 305px;
}

br{
clear: left;
}
