ul {
list-style-type: none;
padding: 0;
margin: 0;
font-size: 20px;
text-indent: 5px;
}

ul li {
background-image: url(http://alsimons.jax.org:8080/static/image/crossout.svg);
background-repeat: no-repeat;
-webkit-background-size: 25% 100%;
-o-background-size: 25% 100%;
-moz-background-size: 25% 100%;
background-size: 25% 100%;
}

label{
float: left;
width: 120px;
font-weight: bold;
}

input{
width: 180px;
margin-bottom: 5px;
}

select{
width: 185px;
margin-bottom: 5px;
}

.runElement{
margin-top: 5px;
font: normal 25px arial, sans-serif;
height: 50px;
width: 305px;
}

br{
clear: left;
}
